header {
    padding: 20px;
    display: flex;
    justify-content: flex-end;
}

.hidden {
    visibility: hidden;
}

.btn-cart {
    width: 130px;
    padding: 8px 16px;
    box-sizing: border-box;
    background-color:#5d8ec7;
    border: 1px solid #295180;
    border-radius: 4px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

.btn-cart:hover {
    background-color:#79a9df;
}

.modal {
    width: 60%;
    padding: 30px;
    background-color: #ececec;
    position: fixed;
    top: 75px;
    right: 20%;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.basket-item {
    margin: 0 0 20px 0;
    display: flex;
    align-items: baseline;
}

.basket-item h3 {
    margin: 0 40px 0 0;
}

.basket-item p {
    margin: 0 40px 0 0;
}

.products {
    padding: 20px 100px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-item {
    width: 200px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
    text-align: center;
}

.product-item h3 {
    margin: 0;
}

.buy-btn {
    width: 70px;
    padding: 5px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    background-color: #2b995b;
    border: 1px solid #217e4a;
    border-radius: 4px;
    cursor: pointer;
}

.buy-btn:hover {
    background-color: rgb( 75, 183, 141 );
}